name: Preview or deploy infra on Render

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

env:
  STACK_NAME: css/prod
  COMMAND: preview

concurrency:
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
  group: pulumi-${{ github.ref }}

jobs:
  pulumi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - run: npm ci

      - if: ${{ github.event_name == 'push' }}
        run: |
          echo "COMMAND=up" >> $GITHUB_ENV

      - uses: pulumi/actions@v6
        with:
          command: ${{ env.COMMAND }}
          stack-name: ${{ env.STACK_NAME }}
          comment-on-pr: false
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
